<a href="http://meetup.com/ember-montevideo/" target="_blank" class="last-activity--meetup-logo">
  {{fa-icon "meetup" aria-hidden="true" title="Ember montevideo meetup"}}
</a>
{{#if lastMeetup}}
  <span>Último meetup, {{moment-format lastMeetup.when "MMMM YYYY"}}</span>
  <span class="where">{{lastMeetup.where}}</span>
{{/if}}
