{{#if isLoading}}
  <p>Obteniendo participantes del próximo meetup...</p>
{{else}}
  {{#each participants as |participant|}}
    {{#tool-tipster
      title=participant.name
      theme="tooltipster-borderless"
      animation="grow"
      side="top"
    }}
      <img src="{{participant.imageUrl}}" alt="{{participant.name}}">
    {{/tool-tipster}}
  {{/each}}
  <div class="new-rsvp">
    <a href="http://meetup.com/ember-montevideo/">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      <span>SUMATE</span>
    </a>
  </div>
{{/if}}
