<div class="col-xs-12 col-sm-4 pre-footer--item">
  <i class="fa fa-meetup" aria-hidden="true"></i>
  <p>
    Puedes <a href="http://meetup.com/ember-montevideo/">inscribirte en meetup.com</a>
    para formar parte de la comunidad de embereños en montevideo y acceder a toda
    la información de los eventos
  </p>
</div>

<div class="col-xs-12 col-sm-4 pre-footer--item pre-footer--item__light">
  <i class="fa fa-slack" aria-hidden="true"></i>
  <p>
    En la comunidad de JavaScript del Uruguay compartimos un canal de comunicación
    por Slack al cuál puedes <a href="http://owu.slack.com/">unirte</a>
    (<a class="nb" href="https://owu.slack.com/messages/C45ERN1JA/">#meetup-ember</a>)
  </p>
</div>

<div class="col-xs-12 col-sm-4 pre-footer--item">
  <i class="fa fa-github" aria-hidden="true"></i>
  <p>
    En nuestra <a href="https://github.com/ember-montevideo">organización de Github</a>
    podrás encontrar los repositorios de las notas, sitio web y código de los
    workshops (entre otras cosas).
  </p>
</div>
