<img src="assets/images/tomster.jpg" alt="Tomster Uruguay" title="Ember Montevideo" class="img-responsive sidebar-menu-logo--image" onclick={{action (toggle this "easterEgg")}} />
<h1 class="sidebar-menu-logo--title">MONTEVIDEO</h1>

{{#if easterEgg }}
  {{#ember-wormhole to="outside"}}
    {{confetti-rain}}
  {{/ember-wormhole}}
{{/if}}
