.main-content {
  padding-bottom: 25px;

  a {
    color: $menu-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $menu-link-hover-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
  }

  h1 {
    color: $font-dark;
    padding-bottom: 5px;

    +p {
      font-size: 16px;
      padding: 5px 0;
    }
  }

  img {
    max-width: 100%;
  }
}
