.pre-footer {
  background-color: $primary-color;
  color: $font-light;
  display: flex;
  flex-direction: column;

  a {
    color: $font-light;
    text-decoration: underline;
    padding: 2px 5px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  &--item {
    flex: 1;
    padding: 20px;
    text-align: center;

    &__light {
      background-color: $primary-color-light;
    }

    i {
      display: block;
      font-size: 58px;
      color: #fff;
      margin-bottom: 10px;
    }

    p {
      line-height: 1.6;
    }
  }
}

@media(min-width: 768px) {
  .pre-footer {
    flex-direction: row;
  }
}
