.bm-menu {
  background-color: $menu-bg;
  color: $menu-primary-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  a {
    color: $menu-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $menu-link-hover-color;
    }
  }

  .bm-menu--close {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
    color: rgba(255,255,255,.8);

    &:hover {
      color: rgba(255,255,255,1);
      cursor: pointer;
    }
  }
}

.ember-burger-menu .bm-outlet .bm-content {
  background-color: #fffbfb;
}

.sidebar-menu-logo {
  text-align: center;

  &--image {
    width: 180px;
    margin: 0 auto;
    padding-left: 30px;
  }

  &--title {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 10px;
  }
}

.last-activity {
  text-align: center;
  margin: 15px 0;

  &--meetup-logo {
    display: inline-block;
    margin: 0 auto;
    font-size: 65px;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    margin-top: 2px;
    margin-bottom: 4px;
    display: block;

    &.where {
      color: $primary-color;
    }
  }
}
