$font-light: #fff;
$font-dark: #222;

$secondary-color: #252525;
$secondary-color-light: #dcdcdc;

$primary-color: #e24c32;
$primary-color-light: #dc6a57;

$menu-bg: $secondary-color;
$menu-primary-color: $font-light;
$menu-link-color: $primary-color;
$menu-link-hover-color: $primary-color-light;
$menu-title-color: rgba(255,255,255,.1);
