$font-light: #fff;
$font-dark: #222;

$gray: #252525;
$gray-light: #dcdcdc;

$orange: #e24c32;
$orange-light: #dc6a57;

$menu-bg: $gray;
$menu-primary-color: $font-light;
$menu-link-color: $orange;
$menu-link-hover-color: $orange-light;
$menu-title-color: rgba(255,255,255,.1);
