{{main-banner
  bgUrl="https://c2.staticflickr.com/8/7193/6979664581_29556a25f5_b.jpg"
  logoUrl="/images/tomster.jpg"
  title="JUNTADA MENSUAL DE EMBEREÑOS"
  subTitle="¡TE ESPERAMOS!"
}}

<div class="container main-content">

  <section>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>¿Cómo puedo participar?</h1>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p>
          Para participar del meetup solo tenés que <a href="https://www.meetup.com/es-ES/ember-montevideo/" target="_blank">inscribirte
          en meetup.com</a>. El meetup es totalmente gratuito y no se requiere conocimientos previos del framework.
        </p>
        <p>
          También podes participar presentando algún tema de interés o contándonos tu experiencia.
          Para presentar solo tenés que <a href="https://www.meetup.com/ember-montevideo/">ponerte en contacto con nosotros</a>.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Comunidad</h1>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p>
          <strong>Ember Montevideo Meetup</strong> es parte de la comunidad de
          JavaScript del Uruguay <a href="http://js.uy/">js.uy</a>.
        </p>
        <p>
          La comunidad de JavaScript del Uruguay organiza varios meetups
          relacionados a esta tecnología y compartimos un canal de comunicación
          por Slack al cuál puedes <a href="http://owu.slack.com/">unirte</a>
          (<a href="https://owu.slack.com/messages/C45ERN1JA/">#meetup-ember</a>).
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Organización</h1>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p>
          <strong>El espacio lo construimos entre todos y le pertenece a la comunidad</strong>.
          En la actualidad está coordinado por <a href="https://twitter.com/san650">Santiago Ferreira</a>.
        </p>
      </div>
    </div>
  </section>


  <section class="sponsors">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Apoyan</h1>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p>
          Agradecemos a nuestros sponsors que hacen posible que nos juntemos mes a mes.
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <img src="http://www.ingsw.com/wp-content/uploads/2015/11/INGSW-Logo-Landscape-Sml.png" alt="Ingenious Softworks">
        <img src="https://wyeworks.com/images/4c6a6245.wyeworks-logo.png" alt="WyeWorks" >
      </div>
    </div>
  </section>

</div>
