<div class="main-banner">
  <div class="center-message text-center">
    <img src="/images/tomster.jpg" alt="Tomster Uruguay" title="Ember Montevideo" />
    <h1>JUNTADA MENSUAL DE EMBEREÑOS</h1>
    <h2>¡TE ESPERAMOS!</h2>
  </div>
</div>

<div class="container main-content">

  <section class="text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>PARTICIPAR</h1>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <p>
          Si queres participar del meetup solo tenes que <a href="https://www.meetup.com/es-ES/ember-montevideo/" target="_blank">agendarte</a>
          para reservar un lugar. Es totalmente gratuito y no se requiere conocimientos previos.
        </p>
        <p>
          Tambien podes participar presentando algun tema de interes o contandonos tu experiencia.
          Para ser presentador solo ponte en contacto <a href="#">Quiero se presentador</a>
        </p>
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>ORGANIZADORES</h1>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <p>
          Agradecemos a <a href="#">Santiago Ferreira</a> y <a href="#">Adrian Mugnolo</a> por la planificacion y
          organizacion del evento asi como a toda la comunidad de embereños que hacen
          posible la realizacion de cada uno de los meetups
        </p>
      </div>
    </div>
  </section>

  <section class="text-center sponsors">
    <div class="row">
      <div class="col-xs-12">
        <h1>SPONSORS</h1>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <p>
          Agradecemos a nuestros sponsors que hacen posible que mes a mes nos juntemos a compartir experiencias
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
        <img src="http://www.ingsw.com/wp-content/uploads/2015/11/INGSW-Logo-Landscape-Sml.png" alt="Ingenious Softworks">
      </div>
      <div class="col-xs-12 col-sm-6 text-left">
        <img src="https://wyeworks.com/images/4c6a6245.wyeworks-logo.png" alt="Wye Works" >
      </div>
    </div>
  </section>


</div>
